## Working with SQL and Python with Real World Datasets
### About the Datasets

This project is based on 3 datasets that are available on the city of Chicago's Data Portal:
* Socioeconomic Indicators in Chicago
* Chicago Public Schools
* Chicago Crime Data

Here, I have used more databased-friendly version of the portal's datasets, acquired through the *IBM Data Science* Course on Coursera.

### Import necessary modules

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

cnx = create_engine('mysql+pymysql://root:root@127.0.0.1:3306/practicedb')

In [119]:
cnx.connect()

In [49]:
import mysql.connector
from mysql.connector import errorcode

from mysql.connector import errorcode
try:
    db = mysql.connector.connect(
        host = '127.0.0.1',
        user = 'root',
        password = 'root',
        database = 'practicedb')
except mysql.connector.Error as err:
    
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
mycursor = db.cursor()

In [50]:
%sql mysql+pymysql://root:root@127.0.0.1:3306/practicedb

In [6]:
%sql select name_of_school from school_data LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[('Abraham Lincoln Elementary School',),
 ('Adam Clayton Powell Paideia Community Academy Elementary School',),
 ('Adlai E Stevenson Elementary School',),
 ('Agustin Lara Elementary Academy',),
 ('Air Force Academy High School',)]

**Find the total number of crimes recorded in the CRIME table

In [120]:
%%sql 
select count(*) from crime_data

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
1 rows affected.

[(353,)]

### Execute SQL Queries to understand the data

**Find the types of crimes recorded in the CRIME table

In [8]:
%%sql
select distinct(primary_type), description from crime_data

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
81 rows affected.

[('THEFT', 'FROM BUILDING'),
 ('THEFT', '$500 AND UNDER'),
 ('THEFT', 'FINANCIAL ID THEFT: OVER $300'),
 ('THEFT', 'OVER $500'),
 ('THEFT', 'RETAIL THEFT'),
 ('THEFT', 'AGG: FINANCIAL ID THEFT'),
 ('THEFT', 'PURSE-SNATCHING'),
 ('THEFT', 'POCKET-PICKING'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE'),
 ('CRIMINAL DAMAGE', 'TO CITY OF CHICAGO PROPERTY'),
 ('CRIMINAL DAMAGE', 'TO PROPERTY'),
 ('CRIMINAL DAMAGE', 'CRIMINAL DEFACEMENT'),
 ('NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('NARCOTICS', 'MANU/DELIVER: HEROIN (WHITE)'),
 ('NARCOTICS', 'POSS: CRACK'),
 ('NARCOTICS', 'FOUND SUSPECT NARCOTICS'),
 ('NARCOTICS', 'MANU/DELIVER: METHAMPHETAMINES'),
 ('NARCOTICS', 'POSS: COCAINE'),
 ('NARCOTICS', 'ATTEMPT POSSESSION NARCOTICS'),
 ('NARCOTICS', 'SOLICIT NARCOTICS ON PUBLICWAY'),
 ('NARCOTICS', 'MANU/DELIVER:CRACK'),
 ('OTHER OFFENSE', 'TELEPHONE THREAT'),
 ('OTHER OFFENSE', 'OBSCENE TELEPHONE CALLS'),
 ('OTHER OFFENSE', 'VIOLATE ORDER OF PROTECTION'),
 ('OTHER OFFENSE', 'HARASSMENT BY TELEPHONE'),
 ('OTHER OFFENSE', 'PROBATION VIOLATION'),
 ('OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS'),
 ('OTHER OFFENSE', 'PAROLE VIOLATION'),
 ('OTHER OFFENSE', 'OTHER VEHICLE OFFENSE'),
 ('OTHER OFFENSE', 'OTHER CRIME AGAINST PERSON'),
 ('OTHER OFFENSE', 'SEX OFFENDER: FAIL REG NEW ADD'),
 ('BURGLARY', 'UNLAWFUL ENTRY'),
 ('BURGLARY', 'FORCIBLE ENTRY'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'ATT: AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'TRUCK, BUS, MOTOR HOME'),
 ('DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD'),
 ('DECEPTIVE PRACTICE', 'THEFT OF LABOR/SERVICES'),
 ('DECEPTIVE PRACTICE', 'THEFT OF LOST/MISLAID PROP'),
 ('DECEPTIVE PRACTICE', 'THEFT BY LESSEE,MOTOR VEH'),
 ('DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300'),
 ('DECEPTIVE PRACTICE', 'ILLEGAL USE CASH CARD'),
 ('ROBBERY', 'STRONGARM - NO WEAPON'),
 ('ROBBERY', 'VEHICULAR HIJACKING'),
 ('ROBBERY', 'ARMED:KNIFE/CUTTING INSTRUMENT'),
 ('ROBBERY', 'AGGRAVATED'),
 ('ROBBERY', 'AGGRAVATED VEHICULAR HIJACKING'),
 ('CRIMINAL TRESPASS', 'TO STATE SUP LAND'),
 ('CRIMINAL TRESPASS', 'TO RESIDENCE'),
 ('CRIMINAL TRESPASS', 'TO LAND'),
 ('CRIMINAL TRESPASS', 'TO VEHICLE'),
 ('PROSTITUTION', 'SOLICIT ON PUBLIC WAY'),
 ('PUBLIC PEACE VIOLATION', 'RECKLESS CONDUCT'),
 ('OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR'),
 ('OFFENSE INVOLVING CHILDREN', 'CRIM SEX ABUSE BY FAM MEMBER'),
 ('OFFENSE INVOLVING CHILDREN', 'AGG CRIM SEX ABUSE FAM MEMBER'),
 ('CRIM SEXUAL ASSAULT', 'ATTEMPT NON-AGGRAVATED'),
 ('CRIM SEXUAL ASSAULT', 'NON-AGGRAVATED'),
 ('SEX OFFENSE', 'AGG CRIMINAL SEXUAL ABUSE'),
 ('SEX OFFENSE', 'OTHER'),
 ('INTERFERENCE WITH PUBLIC OFFICER', 'RESIST/OBSTRUCT/DISARM OFFICER'),
 ('INTERFERENCE WITH PUBLIC OFFICER', 'ESCAPE'),
 ('GAMBLING', 'GAME/DICE'),
 ('LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR'),
 ('ARSON', 'AGGRAVATED'),
 ('ARSON', 'BY FIRE'),
 ('KIDNAPPING', 'CHILD ABDUCTION/STRANGER'),
 ('INTIMIDATION', 'INTIMIDATION'),
 ('OBSCENITY', 'OBSCENE MATTER'),
 ('CONCEALED CARRY LICENSE VIOLATION', 'OTHER'),
 ('PUBLIC INDECENCY', 'LICENSED PREMISE'),
 ('NON-CRIMINAL', 'LOST PASSPORT'),
 ('OTHER NARCOTIC VIOLATION', 'INTOXICATING COMPOUNDS'),
 ('HUMAN TRAFFICKING', 'INVOLUNTARY SERVITUDE'),
 ('NON - CRIMINAL', 'FOID - REVOCATION'),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)', 'NOTIFICATION OF CIVIL NO CONTACT ORDER')]

**Which Community area has the highest crime rate?

In [9]:
%%sql
select community_area_name,community_area_number from census_data where community_area_number = (select community_area_number from crime_data group by community_area_number 
                                                                           order by count(community_area_number)
                                                                           desc LIMIT 1) 
LIMIT 1

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
1 rows affected.

[('Austin', 25)]

**Which school in the above community area has the least safety score?

In [116]:
%%sql
select name_of_school, community_area_number, community_area_name, safety_score from school_data where community_area_number = (select community_area_number from crime_data group by community_area_number 
                                                                           order by count(community_area_number)
                                                                           desc limit 1) 
order by safety_score LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[('Leslie Lewis Elementary School', 25, 'AUSTIN', 21),
 ('Edward K Ellington Elementary School', 25, 'AUSTIN', 30),
 ('Milton Brunson Math & Science Specialty Elementary School', 25, 'AUSTIN', 30),
 ('Ella Flagg Young Elementary School', 25, 'AUSTIN', 31),
 ('Ronald E McNair Elementary School', 25, 'AUSTIN', 31)]

**List crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [10]:
%%sql
select community_area_number, primary_type, description from crime_data where description like '%MINOR%'

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
2 rows affected.

[(7, 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 (48, 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

**What kinds of crimes were recorded at schools?

In [11]:
%%sql
select community_area_number, primary_type, description, location_description from crime_data where location_description LIKE '%SCHOOL%'

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
4 rows affected.

[(25, 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 (1, 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 (58, 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 (70, 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS')]

**List the average safety score for each type of school.

In [12]:
%%sql
    select school_type, AVG(safety_score) as Avg_safety_score from school_data group by school_type

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
3 rows affected.

[('ES', Decimal('49.4371')),
 ('HS', Decimal('56.8286')),
 ('MS', Decimal('53.0000'))]

**List 5 community areas with highest & lowest safety score schools.

In [121]:
%%sql
select  name_of_school, community_area_name, community_area_number, min(safety_score) from school_data 
group by name_of_school order by safety_score LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[('Edmond Burke Elementary School', 'WASHINGTON PARK', 40, 1),
 ("Luke O'Toole Elementary School", 'WEST ENGLEWOOD', 67, 5),
 ('George W Tilton Elementary School', 'WEST GARFIELD PARK', 26, 6),
 ('Foster Park Elementary School', 'AUBURN GRESHAM', 71, 11),
 ('John Fiske Elementary School', 'WOODLAWN', 42, 13)]

In [21]:
%%sql
select  name_of_school, community_area_name, community_area_number, max(safety_score) from school_data 
group by name_of_school order by safety_score desc LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[('Abraham Lincoln Elementary School', 'LINCOLN PARK', 7, 99),
 ('Edgebrook Elementary School', 'FOREST GLEN', 12, 99),
 ('Stephen Decatur Classical Elementary School', 'WEST RIDGE', 2, 99),
 ('Oriole Park Elementary School', 'NORWOOD PARK', 10, 99),
 ('Norwood Park Elementary School', 'NORWOOD PARK', 10, 99)]

**Which community area is most crime prone?

In [118]:
%%sql
select community_area_number, count(community_area_number) as crime_frequency from crime_data 
group by community_area_number order by count(community_area_number) desc limit 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[(25, 26), (23, 14), (68, 13), (8, 12), (28, 12)]

**List 5 community areas with highest % of households below poverty line

In [36]:
%%sql
select community_area_number, community_area_name, PERCENT_HOUSEHOLDS_BELOW_POVERTY from census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[(54, 'Riverdale', 56.5),
 (37, 'Fuller Park', 51.2),
 (68, 'Englewood', 46.6),
 (29, 'North Lawndale', 43.1),
 (27, 'East Garfield Park', 42.4)]

**Which community areas have the highest hardship index? List 5.

In [39]:
%sql select community_area_number, community_area_name, hardship_index from census_data order by hardship_index desc limit 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[(54, 'Riverdale', 98),
 (37, 'Fuller Park', 97),
 (30, 'South Lawndale', 96),
 (68, 'Englewood', 94),
 (63, 'Gage Park', 93)]

**Which communities have the highest enrollment?

In [93]:
%sql select  community_area_number, community_area_name, college_enrollment from school_data order by college_enrollment desc limit 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[(28, 'NEAR WEST SIDE', 2166),
 (63, 'GAGE PARK', 1846),
 (58, 'BRIGHTON PARK', 1834),
 (70, 'ASHBURN', 1656),
 (62, 'WEST ELSDON', 1560)]

**Relationship between college_enrollment and hardship

In [ ]:
%%sql select hardship_index, college_enrollment from census_data cd, school_data sd where cd.community_area_number = sd.community_area_number 
order by college_enrollment desc LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[(15, 2166), (93, 1846), (84, 1834), (37, 1656), (69, 1560)]

In [95]:
%%sql select hardship_index, college_enrollment from census_data cd, school_data sd where cd.community_area_number = sd.community_area_number 
order by college_enrollment LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/practicedb
5 rows affected.

[(15, 21), (94, 44), (87, 48), (87, 83), (73, 93)]